* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Open Sans Regular, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: max;
}

/*DERECHA*/
.mensajes {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom:rgb(214, 214, 214);
    border-width: 2px;
    border-style:groove;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.manos {
    width: 30vh;
}
.comienza  {
    font-size: 45px;
    margin-top: 2vh;
}
/*IZQUIERDA*/
.contactos {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 30vh;
    
}
.topnav {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vh;
}
.fotoperfil {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.profileme {
    border-radius: 50%;
    height: 3vh;
}
.nombre {
    font-size: 16px;
}
.estado {
    font-size: 11px;
    color: #BEC1BB;
}
.icons {
    width: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.newchat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
button {
    color: white;
    padding: 1vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border: none;
    background-color: #A491D2;
}
button:hover {
    background: #CDC3E6;
}
button:active {
    background: #D4DCFF;
}

.chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    padding: 2vh;
}
.chat:hover {
    background: #E8EBE4;
}
.ultimo-mensaje {
    font-size: 13px;
}
.chat, .newchat, .topnav {
    border-bottom:rgb(214, 214, 214);
    border-width: 1px;
    border-style:groove;
    border-top: none;
    border-left: none;
    border-right: none;
}
.profile {
    border-radius: 50%;
    height: 5vh;
}